

<div class="container main-container">
  <h1>FireChat</h1>
  <hr>
  <div *ngIf="_cs.usuario" class="row">
    <div class="col-md-12 text-right">
      <button (click)="salir()"
              class="btn btn-outline-danger"
              type="button" name="button">
              Salir
            </button>
    </div>
  </div>
  <app-login *ngIf="!_cs.usuario"></app-login>

  <div *ngIf="_cs.usuario"
        class="chat-window">
      <app-chat></app-chat>
  </div>


</div>


<!--<ul>
  <li class="text" *ngFor="let chat of chats | async">
    {{chat | json}}
  </li>
</ul>-->
